1col2col
3CHGraph
3CorneredHat
ADev
ADGraph
ADUncert
Asym2Alpha
Asymptote
AVarDOF
Aver
bruiteur
DevGraph
DriRem
find_tau_xdev
GCoDev
GCUncert
HDev
HP_53131A.txt
HPnorm.txt
MDev
PDev
PSDGraph
RaylConfInt
SigmaTheta
st_1col2col
st_3CHGraph
st_3CorneredHat
st_ADev
st_ADGraph
st_ADUncert
st_Asym2Alpha
st_Asymptote
st_AVarDOF
st_Aver
st_bruiteur
st_DevGraph
st_DriRem
st_find_tau_xdev
st_GCoDev
st_GCUncert
st_HDev
st_MDev
st_PDev
st_PSDGraph
st_RaylConfInt
st_SigmaTheta
st_uncertainties
st_X2Y
st_XtGraph
st_YkGraph
testref
testref.gnu
uncertainties
X2Y
XtGraph
YkGraph
bruiteur
uncertainties
3CHGraph
3CorneredHat
Aver
DevGraph
GCUncert
GCoDev
3CHGraph
3CorneredHat
Aver
DevGraph
GCUncert
GCoDev
find_tau_xdev
HP_53131A.txt
HPnorm.txt
testref
testref.gnu
