st_1col2col
st_ADGraph
st_ADUncert
st_ADev
st_AVarDOF
st_Asym2Alpha
st_Asymptote
st_DriRem
st_HDev
st_MDev
st_PDev
st_PSDGraph
st_RaylConfInt
st_SigmaTheta
st_X2Y
st_XtGraph
st_YkGraph
st_bruiteur
st_uncertainties
st_3CHGraph
st_3CorneredHat
st_Aver
st_DevGraph
st_GCUncert
st_GCoDev
st_3CHGraph
st_3CorneredHat
st_Aver
st_DevGraph
st_GCUncert
st_GCoDev
st_find_tau_xdev
